.admin-layout {
    display: flex;
  }
  
  .admin-content {
    margin-left: 200px; /* ancho de la sidebar */
    padding: 20px;
    margin-top: 60px; /* altura del header */
    width: 100%;
    box-sizing: border-box;
  }