.containerPage{
  margin-top: 100px;
}
/* Contenedor principal */
.product-list-container {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  /* Sidebar de filtros */
  .sidebar-filters {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Sección de filtro de especies */
  .filtros-especies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  /* Productos */
  .product-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 20px;
  }
  
  .product-list .no-productos {
    font-size: 16px;
    color: #888;
  }

  .grilla-productos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    gap: 16px; /* espacio entre los productos */
    padding: 16px;
  }
  
  .product-link:hover{
text-decoration: none;
  }

  .grilla-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 16px;
    padding: 16px;
  }
  
  /* Paginación */
  .paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .paginacion button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .paginacion button:disabled {
    background-color: #a5b4fc;
    cursor: not-allowed;
  }
  
  .paginacion span {
    font-weight: bold;
  }