.categoriaCard {
    width: 100%;
    border-radius: 16px;
    padding: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: var(--background-color);
  }


  .categoriaCard:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  
  .categoriaCard.activa {
    border-color: #007bff;
    background-color: #f0f8ff;
  }
  
  .categoriaImagen {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
  }

  .categoriaInfo{
    padding: 0 12px 8px;
    
  }
  
  .categoriaNombre {
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .categoriaNombre i{
    background-color: white;
    font-size: 10px;
    padding: 4px;
    border-radius: 32px;
    color: var(--secondary-color);
  }

  .categoriaInfo span{
    color: var(--subtitle-color);
    font-size: 12px;
    font-weight: 300;
  }
  