.sidebarFiltros {
    width:20%;
  }
  
  .filtroSeccion {
    margin-bottom: 24px;
  }
  
  .filtroSeccion h4 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .opciones input{
    accent-color: #0088ff;
  }

  .opciones{
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .checkboxLabel {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }
  
  .cantidad {
    color: #0088ff;
    font-size: 13px;
    background-color: #f3f3f3;
    padding: 1px 8px;
    border-radius: 12px;
  }
  
  .tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  .tag {
    padding: 6px 12px;
    background-color: #f3f3f3;
    border-radius: 16px;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s;
  }
  
  .tagActiva {
    background-color: #0088ff;
    color: white;
  }
  
  .sliderContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .sliderLabels {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #555;
  }